// @import "../../../styles/colors";


.form-holder {
	// background: $white;
	// padding: 30px;
	width: 600px;

	.title{
		color: black;
		padding: 20px 0;
		margin: 0px;
		font-size: 30px;
	}

	md-card-content{
		padding: 0px 20px;
		display: flex;
		flex-direction: column;	
	}

	.button-row{
		padding: 0px 20px 20px 20px;
		display: flex;
		justify-content: flex-end;
	}
}