.hidden{
	display: none;
}


md-list{

	color: blue;
	.mat-caption {
		/deep/ .mat-list-item-content{
			justify-content: space-between;
			font-size: 0.85em;
			font-weight: bold;
		}
	}

	.mat-subheading-2 /deep/ .mat-list-item-content{
		justify-content: flex-end;
	}
}