<md-toolbar>
	<div class="section_name"><md-icon>account_balance_wallet</md-icon> Balance</div>
	<div class="logo_name">RealRewards +</div>
</md-toolbar>
<div class="container">
	<div class="form-holder">
		<md-card >
			<md-card-header>
				<md-card-title class="title">Review a Balance</md-card-title>
				<md-card-subtitle [ngClass]="{'hidden': balanceDisplayed}">Please provide the customer's token</md-card-subtitle>
			</md-card-header>

			<md-card-content>
				<div class="validating" [hidden]="!isValidating">
					<md-progress-bar class="example-margin" color="primary" mode="indeterminate"></md-progress-bar>
				</div>
				<md-input-container [ngClass]="{'hidden': balanceDisplayed}" >
					<input mdInput #token name="balanceModel.token" [(ngModel)]="balanceModel.token" placeholder="Token" value="">
				</md-input-container>
				<md-list [ngClass]="{'hidden': !balanceDisplayed }">

					<md-list-item class="mat-subheading-1">Balance</md-list-item>
					<md-list-item class="mat-caption"><span>Card</span><span> {{balanceModel.token}} </span> </md-list-item>
					<md-list-item class="mat-subheading-2"> Total: $ {{balanceModel.amount}} USD </md-list-item>

					<!-- <md-list-item class="mat-subheading-1"> John Doe </md-list-item>
					<md-list-item class="mat-caption"><span>Pepper x5</span><span>$ 1.50</span> </md-list-item>
					<md-list-item class="mat-caption"><span>Salt x1kg.</span><span></span>$ 1.00</md-list-item>
					<md-list-item class="mat-caption"><span>Paprika x10</span><span></span>$ 1.00</md-list-item>
					<md-list-item class="mat-subheading-2"> Total: $ 3.50 USD </md-list-item> -->
				</md-list>
				
			</md-card-content>
			<md-card-actions class="button-row" >

				<button md-raised-button color="primary" 
					(click)="goHome()"><md-icon>chevron_left</md-icon> Home </button>
				<button md-raised-button color="primary" 
				[disabled]="token.value.length<=14||isFormDisabled?true:false" 
				[ngClass]="{'hidden': balanceDisplayed }"
				(click)="save()">Get Balance <md-icon>chevron_right</md-icon></button>

				
			</md-card-actions>

		</md-card>

	</div>
</div>