<md-toolbar>
	<div class="section_name"><md-icon>card_giftcard</md-icon> Issue</div>
	<div class="logo_name">RealRewards +</div>
</md-toolbar>
<div class="container">
	<div class="form-holder">
		<md-card >
			<md-card-header>
				<md-card-title class="title">Issue a new card</md-card-title>
				<md-card-subtitle>Please provide all info</md-card-subtitle>
			</md-card-header>

			<md-card-content>
				<div class="validating" [hidden]="!isValidating">
					<div class="caption" color="accent">Validating...</div>
					<md-progress-bar class="example-margin" color="primary" mode="indeterminate"></md-progress-bar>
				</div>
				<md-input-container >
					<input mdInput placeholder="Phone" type="email" name="issueModel.userInfo" [(ngModel)]="issueModel.userInfo" value="" [disabled]="isFormDisabled">

				</md-input-container>
				<md-input-container >
					<input mdInput placeholder="Amount" name="issueModel.amount" [(ngModel)]="issueModel.amount" value="" [disabled]="isFormDisabled">
					<md-hint align="end">$ 999.99 USD max. </md-hint>
				</md-input-container>
				<md-select placeholder="Campaign" name="issueModel.campaignId" [(ngModel)]="issueModel.campaignId" [disabled]="isFormDisabled">

				   <md-option *ngFor="let item of user.campaigns "  [value]="item.prepaidCampaignId" >{{item.name}}</md-option>

				</md-select>
				<md-input-container class="message_container">
					<input mdInput #message placeholder="Message" name="issueModel.userMessage" [(ngModel)]="issueModel.userMessage" value="" [disabled]="isFormDisabled">
					<md-hint align="end">{{message.value.length}} / 150</md-hint>
				</md-input-container>
				<md-input-container>
					<input mdInput #reference placeholder="Reference" name="issueModel.externalReference" [(ngModel)]="issueModel.externalReference" value="" [disabled]="isFormDisabled">
					<md-hint align="end">{{reference.value.length}} / 6 minimum</md-hint>
				</md-input-container>
			</md-card-content>
			<md-card-actions class="button-row">
				
				<button md-raised-button color="primary" 
				(click)="goHome()"><md-icon>chevron_left</md-icon> Home </button>
				<button md-raised-button color="primary" [disabled]="reference.value.length<=5||isFormDisabled?true:false" (click)="checkPhone()">Issue <md-icon>chevron_right</md-icon></button>
			</md-card-actions>

		</md-card>

	</div>
</div>