/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "scss/global";


html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}
