<md-toolbar>
	<div class="section_name"><md-icon>card_membership</md-icon> Redeem</div>
	<div class="logo_name">RealRewards +</div>
</md-toolbar>
<div class="container">
	<div class="form-holder">
		<md-card >
			<md-card-header>
				<md-card-title class="title">Redeem a code</md-card-title>
				<md-card-subtitle>Please provide all info</md-card-subtitle>
			</md-card-header>

			<md-card-content>
				<div class="validating" [hidden]="!isValidating">
					<div class="caption" color="accent">Validating...</div>
					<md-progress-bar class="example-margin" color="primary" mode="indeterminate"></md-progress-bar>
				</div>
				<md-input-container >
					<input mdInput placeholder="Token" name="redeemModel.token" [(ngModel)]="redeemModel.token" value="" [disabled]="isFormDisabled">
				</md-input-container>
				<md-input-container>
					<input mdInput #amount placeholder="Amount" name="redeemModel.amount" [(ngModel)]="redeemModel.amount" value="" [disabled]="isFormDisabled">
				</md-input-container>
				
			</md-card-content>
			<md-card-actions class="button-row">
				<button md-raised-button color="primary" 
				(click)="goHome()"><md-icon>chevron_left</md-icon> Home </button>
				<button md-raised-button color="primary" [disabled]="amount.value.length<1||isFormDisabled?true:false" (click)="save()">Redeem <md-icon>chevron_right</md-icon></button>

			</md-card-actions>

		</md-card>

	</div>
</div>